#:schema node_modules/wrangler/config-schema.json

name = "land-server"
main = "./app/entry.rsc.tsx"
# main = "./dist/rsc/index.js"
compatibility_date = "2025-05-14"
compatibility_flags = ["nodejs_als"]
workers_dev = false
send_metrics = false

# no_bundle = true
# rules = [{ type = "ESModule", globs = ["**/*.js", "**/*.mjs"] }]

[observability]
enabled = true
logs.enabled = true
logs.invocation_logs = true


[[d1_databases]]
binding = "DB"
database_name = "local"
database_id = "24f36833-9890-493d-ab34-7549fc414340"

[[d1_databases]]
binding = "TG"
database_id = "7eaf0096-2c09-4fe4-86e6-bf22305eda18"

[[r2_buckets]]
binding = "R2"
bucket_name = "assets"
