@theme {
  --color-cat-rosewater: light-dark(
    rgb(var(--color-cat-latte-rosewater)),
    rgb(var(--color-cat-frappe-rosewater))
  );
  --color-cat-flamingo: light-dark(
    rgb(var(--color-cat-latte-flamingo)),
    rgb(var(--color-cat-frappe-flamingo))
  );
  --color-cat-pink: light-dark(
    rgb(var(--color-cat-latte-pink)),
    rgb(var(--color-cat-frappe-pink))
  );
  --color-cat-mauve: light-dark(
    rgb(var(--color-cat-latte-mauve)),
    rgb(var(--color-cat-frappe-mauve))
  );
  --color-cat-red: light-dark(
    rgb(var(--color-cat-latte-red)),
    rgb(var(--color-cat-frappe-red))
  );
  --color-cat-maroon: light-dark(
    rgb(var(--color-cat-latte-maroon)),
    rgb(var(--color-cat-frappe-maroon))
  );
  --color-cat-peach: light-dark(
    rgb(var(--color-cat-latte-peach)),
    rgb(var(--color-cat-frappe-peach))
  );
  --color-cat-yellow: light-dark(
    rgb(var(--color-cat-latte-yellow)),
    rgb(var(--color-cat-frappe-yellow))
  );
  --color-cat-green: light-dark(
    rgb(var(--color-cat-latte-green)),
    rgb(var(--color-cat-frappe-green))
  );
  --color-cat-teal: light-dark(
    rgb(var(--color-cat-latte-teal)),
    rgb(var(--color-cat-frappe-teal))
  );
  --color-cat-sky: light-dark(
    rgb(var(--color-cat-latte-sky)),
    rgb(var(--color-cat-frappe-sky))
  );
  --color-cat-sapphire: light-dark(
    rgb(var(--color-cat-latte-sapphire)),
    rgb(var(--color-cat-frappe-sapphire))
  );
  --color-cat-blue: light-dark(
    rgb(var(--color-cat-latte-blue)),
    rgb(var(--color-cat-frappe-blue))
  );
  --color-cat-lavender: light-dark(
    rgb(var(--color-cat-latte-lavender)),
    rgb(var(--color-cat-frappe-lavender))
  );
  --color-cat-text: light-dark(
    rgb(var(--color-cat-latte-text)),
    rgb(var(--color-cat-frappe-text))
  );
  --color-cat-subtext1: light-dark(
    rgb(var(--color-cat-latte-subtext1)),
    rgb(var(--color-cat-frappe-subtext1))
  );
  --color-cat-subtext0: light-dark(
    rgb(var(--color-cat-latte-subtext0)),
    rgb(var(--color-cat-frappe-subtext0))
  );
  --color-cat-overlay2: light-dark(
    rgb(var(--color-cat-latte-overlay2)),
    rgb(var(--color-cat-frappe-overlay2))
  );
  --color-cat-overlay1: light-dark(
    rgb(var(--color-cat-latte-overlay1)),
    rgb(var(--color-cat-frappe-overlay1))
  );
  --color-cat-overlay0: light-dark(
    rgb(var(--color-cat-latte-overlay0)),
    rgb(var(--color-cat-frappe-overlay0))
  );
  --color-cat-surface2: light-dark(
    rgb(var(--color-cat-latte-surface2)),
    rgb(var(--color-cat-frappe-surface2))
  );
  --color-cat-surface1: light-dark(
    rgb(var(--color-cat-latte-surface1)),
    rgb(var(--color-cat-frappe-surface1))
  );
  --color-cat-surface0: light-dark(
    rgb(var(--color-cat-latte-surface0)),
    rgb(var(--color-cat-frappe-surface0))
  );
  --color-cat-base: light-dark(
    rgb(var(--color-cat-latte-base)),
    rgb(var(--color-cat-frappe-base))
  );
  --color-cat-mantle: light-dark(
    rgb(var(--color-cat-latte-mantle)),
    rgb(var(--color-cat-frappe-mantle))
  );
  --color-cat-crust: light-dark(
    rgb(var(--color-cat-latte-crust)),
    rgb(var(--color-cat-frappe-crust))
  );

  --color-cat-latte-rosewater: 220, 138, 120;
  --color-cat-latte-flamingo: 221, 120, 120;
  --color-cat-latte-pink: 234, 118, 203;
  --color-cat-latte-mauve: 136, 57, 239;
  --color-cat-latte-red: 210, 15, 57;
  --color-cat-latte-maroon: 230, 69, 83;
  --color-cat-latte-peach: 254, 100, 11;
  --color-cat-latte-yellow: 223, 142, 29;
  --color-cat-latte-green: 64, 160, 43;
  --color-cat-latte-teal: 23, 146, 153;
  --color-cat-latte-sky: 4, 165, 229;
  --color-cat-latte-sapphire: 32, 159, 181;
  --color-cat-latte-blue: 30, 102, 245;
  --color-cat-latte-lavender: 114, 135, 253;
  --color-cat-latte-text: 76, 79, 105;
  --color-cat-latte-subtext1: 92, 95, 119;
  --color-cat-latte-subtext0: 108, 111, 133;
  --color-cat-latte-overlay2: 124, 127, 147;
  --color-cat-latte-overlay1: 140, 143, 161;
  --color-cat-latte-overlay0: 156, 160, 176;
  --color-cat-latte-surface2: 172, 176, 190;
  --color-cat-latte-surface1: 188, 192, 204;
  --color-cat-latte-surface0: 204, 208, 218;
  --color-cat-latte-base: 239, 241, 245;
  --color-cat-latte-mantle: 230, 233, 239;
  --color-cat-latte-crust: 220, 224, 232;

  --color-cat-frappe-rosewater: 242, 213, 207;
  --color-cat-frappe-flamingo: 238, 190, 190;
  --color-cat-frappe-pink: 244, 184, 228;
  --color-cat-frappe-mauve: 202, 158, 230;
  --color-cat-frappe-red: 231, 130, 132;
  --color-cat-frappe-maroon: 234, 153, 156;
  --color-cat-frappe-peach: 239, 159, 118;
  --color-cat-frappe-yellow: 229, 200, 144;
  --color-cat-frappe-green: 166, 209, 137;
  --color-cat-frappe-teal: 129, 200, 190;
  --color-cat-frappe-sky: 153, 209, 219;
  --color-cat-frappe-sapphire: 133, 193, 220;
  --color-cat-frappe-blue: 140, 170, 238;
  --color-cat-frappe-lavender: 186, 187, 241;
  --color-cat-frappe-text: 198, 208, 245;
  --color-cat-frappe-subtext1: 181, 191, 226;
  --color-cat-frappe-subtext0: 165, 173, 206;
  --color-cat-frappe-overlay2: 148, 156, 187;
  --color-cat-frappe-overlay1: 131, 139, 167;
  --color-cat-frappe-overlay0: 115, 121, 148;
  --color-cat-frappe-surface2: 98, 104, 128;
  --color-cat-frappe-surface1: 81, 87, 109;
  --color-cat-frappe-surface0: 65, 69, 89;
  --color-cat-frappe-base: 48, 52, 70;
  --color-cat-frappe-mantle: 41, 44, 60;
  --color-cat-frappe-crust: 35, 38, 52;
}

/* https://github.com/catppuccin/zed/blob/main/themes/catppuccin-no-italics-mauve.json */
/* Converted by Claude */
.tree-sitter {
  .variable {
    @apply text-cat-text;
  }
  .variable.builtin {
    @apply text-cat-red;
  }
  .variable.parameter {
    @apply text-cat-maroon;
  }
  .variable.member {
    @apply text-cat-blue;
  }
  .variable.special {
    @apply text-cat-red;
  }
  .constant {
    @apply text-cat-peach;
  }
  .constant.builtin {
    @apply text-cat-peach;
  }
  .constant.macro {
    @apply text-cat-mauve;
  }
  .module {
    @apply text-cat-yellow;
  }
  .label {
    @apply text-cat-sapphire;
  }
  .string {
    @apply text-cat-green;
  }
  .string.documentation {
    @apply text-cat-teal;
  }
  .string.regexp {
    @apply text-cat-peach;
  }
  .string.escape {
    @apply text-cat-pink;
  }
  .string.special {
    @apply text-cat-pink;
  }
  .string.special.path {
    @apply text-cat-pink;
  }
  .string.special.symbol {
    @apply text-cat-flamingo;
  }
  .string.special.url {
    @apply text-cat-rosewater;
  }
  .character {
    @apply text-cat-teal;
  }
  .character.special {
    @apply text-cat-pink;
  }
  .boolean {
    @apply text-cat-peach;
  }
  .number {
    @apply text-cat-peach;
  }
  .number.float {
    @apply text-cat-peach;
  }
  .tag {
    @apply text-cat-blue;
  }
  .tag.attribute {
    @apply text-cat-yellow;
  }
  .tag.delimiter {
    @apply text-cat-teal;
  }
  .type {
    @apply text-cat-yellow;
  }
  .type.builtin {
    @apply text-cat-mauve;
  }
  .type.definition {
    @apply text-cat-yellow;
  }
  .type.interface {
    @apply text-cat-yellow;
  }
  .type.super {
    @apply text-cat-yellow;
  }
  .attribute {
    @apply text-cat-peach;
  }
  .property {
    @apply text-cat-blue;
  }
  .function {
    @apply text-cat-blue;
  }
  .function.builtin {
    @apply text-cat-peach;
  }
  .function.call {
    @apply text-cat-blue;
  }
  .function.macro {
    @apply text-cat-teal;
  }
  .function.method {
    @apply text-cat-blue;
  }
  .function.method.call {
    @apply text-cat-blue;
  }
  .constructor {
    @apply text-cat-flamingo;
  }
  .operator {
    @apply text-cat-sky;
  }
  .keyword {
    @apply text-cat-mauve;
  }
  .keyword.modifier {
    @apply text-cat-mauve;
  }
  .keyword.type {
    @apply text-cat-mauve;
  }
  .keyword.coroutine {
    @apply text-cat-mauve;
  }
  .keyword.function {
    @apply text-cat-mauve;
  }
  .keyword.operator {
    @apply text-cat-mauve;
  }
  .keyword.import {
    @apply text-cat-mauve;
  }
  .keyword.repeat {
    @apply text-cat-mauve;
  }
  .keyword.return {
    @apply text-cat-mauve;
  }
  .keyword.debug {
    @apply text-cat-mauve;
  }
  .keyword.exception {
    @apply text-cat-mauve;
  }
  .keyword.conditional {
    @apply text-cat-mauve;
  }
  .keyword.conditional.ternary {
    @apply text-cat-mauve;
  }
  .keyword.directive {
    @apply text-cat-pink;
  }
  .keyword.directive.define {
    @apply text-cat-pink;
  }
  .keyword.export {
    @apply text-cat-sky;
  }
  .punctuation {
    @apply text-cat-overlay2;
  }
  .punctuation.delimiter {
    @apply text-cat-overlay2;
  }
  .punctuation.bracket {
    @apply text-cat-overlay2;
  }
  .punctuation.special {
    @apply text-cat-pink;
  }
  .punctuation.special.symbol {
    @apply text-cat-flamingo;
  }
  .punctuation.list_marker {
    @apply text-cat-teal;
  }
  .comment {
    @apply text-cat-overlay2;
  }
  .comment.doc {
    @apply text-cat-overlay2;
  }
  .comment.documentation {
    @apply text-cat-overlay2;
  }
  .comment.info {
    @apply text-cat-teal;
  }
  .comment.error {
    @apply text-cat-red;
  }
  .comment.warning {
    @apply text-cat-yellow;
  }
  .comment.warn {
    @apply text-cat-yellow;
  }
  .comment.hint {
    @apply text-cat-blue;
  }
  .comment.todo {
    @apply text-cat-flamingo;
  }
  .comment.note {
    @apply text-cat-rosewater;
  }
  .diff.plus {
    @apply text-cat-green;
  }
  .diff.minus {
    @apply text-cat-red;
  }
  .parameter {
    @apply text-cat-maroon;
  }
  .field {
    @apply text-cat-lavender;
  }
  .namespace {
    @apply text-cat-yellow;
  }
  .float {
    @apply text-cat-peach;
  }
  .symbol {
    @apply text-cat-pink;
  }
  .string.regex {
    @apply text-cat-peach;
  }
  .text {
    @apply text-cat-text;
  }
  .emphasis.strong {
    @apply text-cat-maroon;
  }
  .emphasis {
    @apply text-cat-maroon;
  }
  .embedded {
    @apply text-cat-maroon;
  }
  .text.literal {
    @apply text-cat-green;
  }
  .concept {
    @apply text-cat-sapphire;
  }
  .enum {
    @apply text-cat-teal;
  }
  .function.decorator {
    @apply text-cat-peach;
  }
  .type.class.definition {
    @apply text-cat-yellow;
  }
  .hint {
    @apply text-cat-overlay1;
  }
  .link_text {
    @apply text-cat-lavender;
  }
  .link_uri {
    @apply text-cat-blue;
  }
  .parent {
    @apply text-cat-peach;
  }
  .predictive {
    @apply text-cat-overlay0;
  }
  .predoc {
    @apply text-cat-red;
  }
  .primary {
    @apply text-cat-maroon;
  }
  .tag.doctype {
    @apply text-cat-mauve;
  }
  .string.doc {
    @apply text-cat-teal;
  }
  .title {
    @apply text-cat-text;
  }
  .variant {
    @apply text-cat-red;
  }
}

/* extract from my former */
/* @layer theme {

  .cat-macchiato {
    --ctp-rosewater: 244, 219, 214;
    --ctp-flamingo: 240, 198, 198;
    --ctp-pink: 245, 189, 230;
    --ctp-mauve: 198, 160, 246;
    --ctp-red: 237, 135, 150;
    --ctp-maroon: 238, 153, 160;
    --ctp-peach: 245, 169, 127;
    --ctp-yellow: 238, 212, 159;
    --ctp-green: 166, 218, 149;
    --ctp-teal: 139, 213, 202;
    --ctp-sky: 145, 215, 227;
    --ctp-sapphire: 125, 196, 228;
    --ctp-blue: 138, 173, 244;
    --ctp-lavender: 183, 189, 248;
    --ctp-text: 202, 211, 245;
    --ctp-subtext1: 184, 192, 224;
    --ctp-subtext0: 165, 173, 203;
    --ctp-overlay2: 147, 154, 183;
    --ctp-overlay1: 128, 135, 162;
    --ctp-overlay0: 110, 115, 141;
    --ctp-surface2: 91, 96, 120;
    --ctp-surface1: 73, 77, 100;
    --ctp-surface0: 54, 58, 79;
    --ctp-base: 36, 39, 58;
    --ctp-mantle: 30, 32, 48;
    --ctp-crust: 24, 25, 38;
  }
  .cat-mocha {
    --ctp-rosewater: 245, 224, 220;
    --ctp-flamingo: 242, 205, 205;
    --ctp-pink: 245, 194, 231;
    --ctp-mauve: 203, 166, 247;
    --ctp-red: 243, 139, 168;
    --ctp-maroon: 235, 160, 172;
    --ctp-peach: 250, 179, 135;
    --ctp-yellow: 249, 226, 175;
    --ctp-green: 166, 227, 161;
    --ctp-teal: 148, 226, 213;
    --ctp-sky: 137, 220, 235;
    --ctp-sapphire: 116, 199, 236;
    --ctp-blue: 137, 180, 250;
    --ctp-lavender: 180, 190, 254;
    --ctp-text: 205, 214, 244;
    --ctp-subtext1: 186, 194, 222;
    --ctp-subtext0: 166, 173, 200;
    --ctp-overlay2: 147, 153, 178;
    --ctp-overlay1: 127, 132, 156;
    --ctp-overlay0: 108, 112, 134;
    --ctp-surface2: 88, 91, 112;
    --ctp-surface1: 69, 71, 90;
    --ctp-surface0: 49, 50, 68;
    --ctp-base: 30, 30, 46;
    --ctp-mantle: 24, 24, 37;
    --ctp-crust: 17, 17, 27;
  }
} */
