@media not print {
  a[href^="https"],
  a[href^="tg://"]
  {
    @apply text-cat-lavender;
  }

  a[href^="https"],
  a[href^="tg://"]
  {
    @apply inline-block;
  }

  a[href^="https"]::after,
  a[href^="tg://"]::after
  {
    @apply icon-[ph--planet];
    content: "";
  }

  /* a[href^="https://assets.hash.memorial/"]::after
    {
      @apply icon-[ph--database];
      content: "";
    } */

  a[href^="https://github.com/Master-Hash/post-test"]::after,
  a[href^="https://assets.hash.memorial/private"]::after
  {
    @apply icon-[ph--lock];
  }

  a[href="https://www.travellings.cn/go.html"]::after
  {
    @apply icon-[ph--train-light];
  }

  /* a[href^="https://github.com/Master-Hash/"]::after, */
  a[href^="https://gist.github.com/Master-Hash/"]::after,
  a[href^="https://t.me/hash_elbeszelese/"]::after,
  a[href="https://blog.junyu33.me/2025/01/16/%E6%BC%AB%E8%AF%9D%E9%AA%97%E5%AD%90%E7%9A%84%E6%95%85%E4%BA%8B.html"]::after,
  a[href="https://blog.junyu33.me/2021/12/19/%E3%80%8A%E8%8C%B8%E9%9B%AA%E3%80%8B%E8%AE%B2%E7%A8%BF"]::after,
  a[href="https://blog.junyu33.me/2023/11/28/beijing"]::after
  {
    @apply icon-[ri--quill-pen-line];
  }

  /* 维基百科可以单独给图标……知乎就算了？ */
  /* 维基也算了，W图标过于简陋了 */
  /* a[href^="https://www.zhihu.com/"]::after
  {
    @apply icon-[ri--zhihu-line];
  } */

  :not(nav) {
    & > a[href="/connections"],
    & > a[href="/experiences"],
    & > a[href="/kami"] {
      @apply text-cat-green;
    }
    & > a[href^="/narrative"] {
      @apply text-cat-sapphire;
    }
  }

  [href*="人/"],
  [href*="%E4%BA%BA/"] {
    @apply text-cat-yellow;
  }

  /* Not using blue and red */
  /* Because they resemble lavender */
  a[href*="事/"],
  a[href*="%E4%BA%8B/"],
  /* a[href^="/narrative"], */
  a[href^="/now"] {
    @apply text-cat-sapphire;
  }

  a[href*="物/"],
  a[href*="%E7%89%A9/"],
  a[href^="/email"],
  a[href^="/mailbox"],
  a[href^="/lists"] {
    @apply text-cat-pink;
  }

  a[href*="情思/"],
  a[href*="%E6%83%85%E6%80%9D/"] {
    @apply text-cat-green;
  }

  a[href*="user-content-fn"] {
    @apply text-cat-subtext1;
    /* @apply opacity-80; */
  }
}

a[id^="user-content-fnref-"]::before {
  content: "[";
}

a[id^="user-content-fnref-"]::after {
  content: "]";
}
