/* https://shiki.style/guide/dual-themes */
/* https://antfu.me/posts/shikiji-twoslash */
/* https://github.com/antfu/antfu.me/commit/d2dfb25139e9f2d42f4135998ad2052179237641#diff-4d6623b7b5a58b55089c020280cacb81da653ce66367cf41d1ab976838a1fddd */


.shiki,
.shiki span {
  color: var(--shiki-light);
  background-color: var(--shiki-light-bg);
  /* Optional, if you also want font styles */
  /* font-style: var(--shiki-light-font-style); */
  font-weight: var(--shiki-light-font-weight);
  text-decoration: var(--shiki-light-text-decoration);

  --twoslash-popup-bg: var(--color-cat-base);
}

@media (prefers-color-scheme: dark) {
  .shiki,
  .shiki span {
    color: var(--shiki-dark);
    background-color: var(--shiki-dark-bg);
    /* Optional, if you also want font styles */
    /* font-style: var(--shiki-dark-font-style); */
    font-weight: var(--shiki-dark-font-weight);
    text-decoration: var(--shiki-dark-text-decoration);
  }
}

/* https://shiki-zh-docs.vercel.app/packages/transformers#transformerrenderwhitespace */
.shiki .tab,
.shiki .space {
  @apply relative;
}

.shiki .tab::before,
.shiki .space::before {
  @apply absolute opacity-30;
  /* @apply -translate-y-1; */
}

.shiki .tab::before {
  content: '⇥';
}

.shiki .space::before {
  content: '·';
}

/* https://github.com/shikijs/shiki/issues/3#issuecomment-830564854 */
.shiki {
  counter-reset: step;
  counter-increment: step 0;
}

.shiki .line::before {
  @apply w-4 mr-6 inline-block text-right;
  content: counter(step);
  counter-increment: step;
  color: var(--color-cat-overlay1);
}
