@import "tailwindcss/tailwind";
@import "prism-theme-vars/base";
@import "prism-theme-vars/themes/vitesse-light" (prefers-color-scheme: light);
@import "prism-theme-vars/themes/vitesse-dark" (prefers-color-scheme: dark);

@layer components {
  *, ::before, ::after {
    @apply transition-all duration-150 ease-in-out;
  }
  /* 外部链接 */
  /* a[href^="http"]::after {
    content: url()
  } */
}

@layer utilities {
  /* 自定义 prose */
  .prose :where(blockquote p:first-of-type):not(:where([class~="not-prose"] *))::before,
  .prose :where(blockquote p:last-of-type):not(:where([class~="not-prose"] *))::after
  {
    content: none;
  }

  .prose blockquote {
    @apply not-italic;
  }

  @media print {
    a::after {
      content: " (" attr(href) ") ";
    }
  }
}

/* article.mx-auto > h1:nth-child(1) {
  @apply text-blue-100
} */
